h1, h2, h3, p {
    color: rgb(255, 191, 106);
}
.btn-orange {
    background-color: rgb(255, 191, 106);
}
.btn-orange:hover {
    background-color: rgb(212, 159, 90);
}
.btn-red {
    background-color: rgb(243, 51, 37);
}
.btn-red:hover {
    background-color: rgb(202, 40, 28); ;   
}
.btn-green {
    background-color: rgb(86, 179, 128);
}
.btn-green:hover {
    background-color: rgb(70, 148, 105) ;
}
.row {
    justify-content: center;
}
table, th, tr, td {
    justify-content: center;
    border-style: solid;
    border-color: rgb(255, 191, 106);
    border-width: 2px;
    padding: 5rem;
    margin: 5rem;
}
form {
    justify-content: center;
    text-align: center;
}
hr {
    border-style: solid;
    border-color: rgb(255, 191, 106);
}
.card {
    width: 30rem;
    height: auto;
    margin-bottom: 16px;
}

.center {
    display: flex;
    justify-content: center;
}